

    *{
        margin:0;
        padding:0;
        font-family:"Poppins",sans-serif;
        box-sizing:border-box;
    }
    body{
        display:flex;
        justify-content:center;
        align-items: center;
        min-height:100vh;
        
        background:url("image2.jpg") no-repeat;
        background-size:cover;
        background-position:center;
    
    }
    .wrapper{
    align-items:center;
    text-align:center;
    width:420px;
    background:2px solid,rgba(255 255 255 .2);
    border-radius:10px;
    padding :30px 40px;
    backdrop-filter:blur(20px);
    box-shadow: 0 0 10px rgba(0, 0,0,.1);

    }
    .wrapper input-box{
        width:100%;
        height:50px;
        margin:30px 0;
    }
    .input-box input{
        width:100%;
        height:100%;
        background:transparent;
        border-radius:20px;
        outline:none;
        border:2px solid rgba(255 255 255 .1);
        font-size:15px;
        color:#fff;
        padding:20px 25px 10px 20px;
    }
    .input-box input::placeholder{
        color:white;
        font-size:15px;
        text-align:center;

    }
     h3{
    
    display:flex;
    padding:20px 25px 10px 20px;
    }
   .wrapper h3:hover{
        text-decoration:undreline;
    }
    .in-box input{
        width:100%;
        height:100%;
        background:transparent;
        border-radius:30px;
        outline:none;
        border:2px solid rgba(255 255 255 .1);
        font-size:15px;
        color:white;
        padding:12px 25px 0px 20px;
    }
    .in-box input::placeholder{
        
        text-align:center;
    }
    .way a{
        font-size:20px;
        color:red;
    }